:root {
    --brand-color: #00bfa6; /* Bright Green */
    --brand-hover-color: #1ce3c0;
    --line-height-unit: 1;
}


.text-green {
  color: var(--brand-color);
}

/* OPTION A - Crisp & Professional */

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .masthead-heading,
.page-section h3.section-subheading,
header.masthead .masthead-subheading {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.btn {
  font-family: 'Poppins', sans-serif;
}


/* OPTION B - Elegant and Trustworthy */
/*
body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, .masthead-heading,
.page-section h3.section-subheading,
header.masthead .masthead-subheading {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.btn {
  font-family: 'Lato', sans-serif;
}
*/


/* OPTION C - Sleek and Tech-Inspired */

/*
body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6, .masthead-heading,
.page-section h3.section-subheading,
header.masthead .masthead-subheading {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
}

.btn {
  font-family: 'Inter', sans-serif;
}
*/




#myVideo {
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
}

/* SM Small Device :320px. */
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  #myVideo {
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
  } 
}

.btn {
  box-shadow: 0 0 0 0.2rem #00bfa6 !important;
}

.btn-black {
  background-color: black;
  color: white;
}

.btn-green {
  background-color: #00bfa6;
  color: black !important;
}

.btn-green:hover, .btn-green:focus {
  background-color: var(--brand-hover-color);
  color: black !important;
}

.btn-black:hover {
  color: #00bfa6;
}

.container.cover-img {
  background-color: rgba(0, 247, 216, 0.8);
  width: 100%;
  height: 100%;
}

a {
  color: deeppink;
}

a, .text-pink {
  color: deeppink;
}

.amcharts-export-menu.amcharts-export-menu-top-right.amExportButton {
  display: none;
}

.card-header {
  background-color: white;
}

ion-icon {
  font-size: 20px;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../assets/img/loading-2.gif) 50% 50% no-repeat #f9f9f9;
  opacity: 1;
}

@media only screen and (max-width : 768px) {
  .content {
    bottom: 50%;
  }            
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px)  and (max-width : 1024px) {
  /* Styles */
  .page-section {
    padding: 2rem 0;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
  /* Styles */
  .page-section {
    padding: 2rem 0;
  }
}


/* Line height for typographic readability */

body {
  line-height: calc(var(--line-height-unit) * 1.4);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: calc(var(--line-height-unit) * 1.296) !important;
}

.modal-body h1,
.modal-body h2,
.modal-body h3,
.modal-body h4,
.modal-body h5,
.modal-body h6,
.modal-body .h1,
.modal-body .h2,
.modal-body .h3,
.modal-body .h4,
.modal-body .h5,
.modal-body .h6 {
  line-height: calc(var(--line-height-unit) * 1.22);
}

p {
  line-height: calc(var(--line-height-unit) * 1.4);
}