/* All pages */

html {
    background-image: url(../assets/img/mind-pour.gif);
    background-size: contain;
}

body {
    background-color: transparent;
    color: white;
}

/* Blur layer */
.blur-layer {
  position: fixed;
  inset: 0;
  pointer-events: none;
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
  z-index: 1; /* behind content but above background */
}

/* Your page content sits above */
.page {
  position: relative;
  z-index: 2;
}

@-moz-document url-prefix() {
  html {
    background-image: url(../assets/img/mind-pour-blurred-bg.jpg);
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html {
    background-image: url(../assets/img/mind-pour-blurred-bg.jpg);
  }
}

footer {
    color: #212529 !important;
}

footer .text-muted {
    color: #6c757d !important;
}

.text-muted {
    color: #f1f1f1f1 !important;
}

.bg-light {
    background-color: rgba(0, 0, 0, .3) !important;
}

.bg-dark {
    background-color: rgba(0, 0, 0, .7) !important;
}

.card {
    background-color: rgba(0, 0, 0, .5) !important;
}


/* Homepage */

header.masthead {
    color: white !important;
}

.reading-modes-section {
    background: rgba(0, 0, 0, .3) !important
}

#portfolio .portfolio-item .portfolio-caption {
    background-color: rgba(0, 0, 0, .5) !important;
}

.news-intel-panel .intel-article-list .intel-article-item a.headline-link, .sn-card-active-headlines a.headline-link {
    color: var(--brand-color) !important;
}

.news-intel-panel .intel-article-list .intel-article-item a.headline-link:hover, .sn-card-active-headlines a.headline-link:hover {
    color: #2cae86 !important;
}

.news-intel-panel .nlp-chip {
    background: rgba(255, 255, 255, 0.1) !important;
    color: white !important;
}

.news-intel-panel .nlp-chip-topic {
    background: rgba(0, 200, 140, 0.3) !important;
    color: #00ffbb !important;
}

.sn-card-active-stories .panel-title {
    color: white !important;
}

.sn-card-active-stories .panel-subtitle {
    color: #b9b9b9 !important;
}

.sn-card-active-stories .section-label
 {
    color: #f1f1f1f1 !important;
}

.sn-card-active-stories .power-center .entity-name {
    color: #fbfbfb !important;
}

.sn-card-active-stories .power-center {
    background: rgba(0, 0, 0, 0.3) !important;
}

button.firstlook-save-btn {
    color: #00ffbb !important;
}

.sn-card {
    background: rgba(0, 0, 0, .5) !important;
}

.sn-meta, .sn-emobar-label, .sn-emobar-value {
    color: #b9b9b9 !important;
}

section.py-5 h3 {
    color: white !important;
}

